/*分页选项的布局*/
#paging{
    float:right;
    margin-top:10px;
    margin-buttom:10px;
    margin-right:10px;
}
/*分页的文字说明*/
#page_number{
    color: white;
    margin-right:20px;
}
/*分页的超链接*/
.page_controller{
    color: white;
}
a.page_controller:link,a.page_controller:visited{
    text-decoration: none;
}
a.page_controller:hover,a.page_controller:active{
    color: #eb7350;
}
